/* Estilos generales */

/* Overlay o Fondo Transparente */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Color gris transparente */
    z-index: 1001; /* Asegurarse de que esté detrás del formulario pero por encima del contenido de la página */
}




h1 { margin: 0; }
#contact {
    margin: 4em auto;
    width: 200px;
    height: 50px; /* Aumentamos la altura */
    line-height: 50px; /* Ajustamos la línea de altura */
    background: black;
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: none; /* Eliminamos el borde */
    border-radius: 25px; /* Añadimos bordes redondos */
    font-size: 16px; /* Aumentamos el tamaño de fuente */
    transition: background 0.3s ease, transform 0.3s ease; /* Efectos de transición */
  }
  
  #contact:hover {
    background: #333; /* Cambiamos el color de fondo al pasar el ratón */
    transform: scale(1.1); /* Aumentamos ligeramente el tamaño al pasar el ratón */
  }
  
#contact:active { background: #444; }

#contactForm {
    display: none;
    border: 2px black; /* Cambiamos el color del borde a azul */
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 50%; /* Centramos verticalmente el formulario */
    left: 50%; /* Centramos horizontalmente el formulario */
    transform: translate(-50%, -50%);
    z-index: 1002;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Agregamos una sombra suave */
  }
  
  /* Estilo para el título "Contacta a un experto" */
  #contactForm h1 {
    font-size: 24px;
    color: black; /* Cambiamos el color del título a azul */
    margin-bottom: 1em;
  }
  
  /* Estilo para el texto "Nos pondremos en contacto con usted lo antes posible" */
  #contactForm small {
    font-size: 14px;
    color: black; /* Cambiamos el color del texto a gris */
    margin-bottom: 2em;
  }
  
  /* Estilo para los campos de entrada */
  #contactForm input[type="text"],
  #contactForm input[type="email"],
  #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ddd; /* Cambiamos el color del borde a gris claro */
    border-radius: 5px;
    font-size: 16px;
  }
  

  
  

/* Botón de cerrar */
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ccc;
    width: 30px; /* Aumentamos el ancho */
    height: 30px; /* Aumentamos la altura */
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px; /* Aumentamos el tamaño de fuente */
    line-height: 30px; /* Centramos verticalmente el icono */
    color: #555; /* Cambiamos el color del icono */
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .closeBtn:hover {
    background: red; /* Cambiamos el color de fondo al pasar el ratón */
    color: #fff; /* Cambiamos el color del icono al pasar el ratón */
  }
  

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  display: block; 
  width: 280px; 
  padding: .4em;
}

textarea { height: 80px; resize: none; }

.formBtn { 
    width: 140px;
    display: inline-block;
    background: black; /* Cambiamos el color de fondo a azul */
    color: #fff;
    font-weight: 600; /* Aumentamos el peso de la fuente */
    font-size: 1.2em;
    border: none;
    height: 50px;
    border-radius: 25px; /* Agregamos bordes redondos */
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    
  }
  
  .formBtn:hover {
    background: black; /* Cambiamos el color de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumentamos ligeramente el tamaño al pasar el ratón */
  }
  


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin-top: 60px;  /* Añade un margen superior para evitar que el contenido se superponga con la appbar */
    font-family: 'Roboto', sans-serif; 
    background-color: white;
}

.container {
    max-width: 100%; /* Cambiado a 100% */
    margin: 0 auto;
}

/* AppBar */
.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;     /* Esto hará que la barra se quede fija */
    top: 0;              /* Posicionada en la parte superior */
    left: 0;             /* Asegurarse de que esté completamente a la izquierda */
    right: 0;            /* Asegurarse de que se extienda por toda la ventana */
    z-index: 1000;       /* Esto asegura que la barra esté por encima de otros contenidos */
    background-color: white;  /* Añade un fondo para que el contenido detrás no se muestre a través */
}
.appbar a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.logo {
    height: 100px;
    display: block;
    margin: auto;
}

.social-icons a {
    margin-left: 5px;
    text-decoration: none;
}

.social-icons img {
    width: auto;
    height: 32px;
}
/* Footer */
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* Mapa */
.mapa-container {
    margin-top: 20px;
    text-align: center;
}

.mapa-container iframe {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* Media Queries */
@media (max-width: 768px) {
    .logo {
        height: 50px;
    }
    
    .social-icons {
        flex-direction: column;
        align-items: center;
    }
    
    .contact-form input, .contact-form textarea {
        font-size: 14px;
    }
    
    footer p {
        font-size: 12px;
        margin: 5px 0;
    }

    .carta {
        width: 90%;
        height: auto;
    }

    .mapa-container iframe {
        width: 90%;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .carta {
        width: 100%;
    }

    .imagen {
        padding: 10px;
    }
}




.container, .carta, footer {
    background-color: #fff; /* Fondo blanco para resaltar contenidos */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

footer {
    background-color: black; /* Fondo blanco para resaltar contenidos */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}




/* Estilos generales */
.container {
    max-width: 1700px;
    padding-left: 0;
    padding-right:0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide {
    width: 1200px;
    position: absolute;
    transition: opacity 1s ease;
    opacity: 0;
}

.slide.active {
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 1;
    width: 1200px;
}

.slide-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

button.prev, button.next {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button.prev:hover, button.next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 650px; /* Ajustar según necesidad */
}



h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.seccion {
    width: calc(50% - 10px);
    justify-content: space-between;
    margin-bottom: 20px;
}


/* Media queries para responsividad */
@media only screen and (max-width: 768px) {
    .slide-text {
        font-size: 12px;
        padding: 5px;
    }

    button.prev, button.next {
        font-size: 16px;
        padding: 5px 10px;
    }

    .controls {
        top: 45%;
    }

    .container {
        flex-direction: column;
    }

    .info, .image {
        width: 100%;
    }

    .seccion {
        width: 100%;
    }
}


@media only screen and (max-width: 768px) {
    .slide-text {
        font-size: 12px; /* Tamaño de fuente más pequeño para texto del slide */
        padding: 5px; /* Padding reducido */
    }

    button.prev, button.next {
        font-size: 16px; /* Tamaño de fuente más pequeño para botones */
        padding: 5px 10px; /* Padding reducido */
    }

    .controls {
        top: 45%; /* Ajuste para los controles en pantallas más pequeñas */
    }
}




.info {
    width: 50%;
    padding: 20px;
    text-align: justify;
    line-height: 1.7;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info, .image {
        width: 100%;
    }
}

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px 30px; /* Padding en la parte superior e inferior, y en los extremos */
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.seccion {
    width: calc(50% - 10px); /* Asume un espacio de 10px entre secciones */
    
    justify-content: space-between;
    margin-bottom: 20px;
}

.seccion p {
    flex: 1;
    
}

.seccion img {
    
    height: 100px;
    width: 100px;
}

.contenedor {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
   
    text-align: justify;
    line-height: 1.7;
}

/* Media query para pantallas menores a 768px (tablets) */
@media (max-width: 768px) {
    .seccion {
        width: 100%;
        flex-direction: column;
    }

    .seccion p, 
    .seccion img {
        margin-right: 0;
        max-width: 100%;
    }
}

/* Media query para pantallas menores a 480px (móviles) */
@media (max-width: 480px) {
    .contenedor {
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* Estilo general para la clase .seccion */
.seccion {
   
    padding-left: 0px; /* Espacio para la imagen */
}

/* Estilo específico para cada título dentro de .seccion */
.seccion h2 {
    background-image: url('icon1.png'); /* Cambia 'path_a_la_imagen.jpg' por el path correcto de tu imagen */
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 35px 35px; /* Puedes ajustar el tamaño según lo necesites */
    padding-left: 40px; /* Espacio para que el texto no quede encima de la imagen */
}